body {
  font-family: 'Catamaran', sans-serif;
  background: #333 !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bookshelfs {
  max-width: 900px;
  margin: auto;
}

.header-image {
  width: 500px;
}

.my-reads-header {
  height: 100px;
  margin: 0;
  padding-top: 50px;
  color: #333;
  font-size: 40px;
}

.reading_image_1,
.reading_image_2 {
  width: 300px;
  position: fixed;
  z-index: -1;
}

.reading_image_1 {
  left: 10px;
  bottom: 10px;
}

.reading_image_2 {
  right: 10px;
  bottom: 10px;
}

.my-reads-header-bg {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 150px; 
}

.books-search-header {
  box-shadow: 3px 0px 5px;
  display: flex;
  flex-wrap: wrap;
}

.books-search input {
  display: block;
  width: calc(100% - 65px);
  height: 60px;
  font-size: 20px;
  border: 0;
}

.my-reads-link {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
  z-index: 10;
}

.books-search-link {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('./icons/search.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.books-register {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('./icons/add-book.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.books-manage {
  display: block;
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  font-size: 0;
  position: absolute;
  right: 10px;
  background: transparent !important;
  border: none;
  color: #fff;
  top: 10px;
}

.bookshelf-list {
  display: flex;
  flex-wrap: wrap;
}

.bookshelf-list-item {
  list-style: none;
  width: 200px;
  height: auto;
}

.book-title {
  font-weight: bold;
}

.bookshelf-control {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  transform: translate(40px, -180px);
  color: rgba(255, 255, 255, 0);
  background: #a06128;
  background-image: url('./icons/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.bookshelf-control option {
  background-color: #fff; 
  color: #000;
}

.add-book-form-container {
  max-width: 300px; 
  margin: auto;
  text-align: center;
}

.add-book-form-container input {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
}

.new-book-cover {
  min-width: 60px;
  height: 150px;
  width: 100px;
  background-color: white;
  background-image: url('./icons/book.svg');
  background-size: 100px 100px;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}

.edit-book-form-container {
  width: 90%; 
  max-width: 200px;
  margin: auto;
  margin-top: 15px; 
  box-shadow: 0 3px 3px #777;
  list-style: none;
  padding: 10px;
  border: 1px solid #666;
}

.edit-book-cover {
  min-width: 60px;
  height: 150px;
  width: 100px;
  background-color: white;
  background-size: 100px 100px;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}

.droppable {
  max-width: 300px;
  width: 30%;
  margin: 20px;
  padding: 20px;
  background-color: rgba(0,0,0,0.16);
  border-radius: 10px;
}

.droppable_0 {
  color: rebeccapurple;
}

.droppable_1 {
  color: tomato;
}

.droppable_2  {
  color: forestgreen;
}

.droppable > h5 {
  padding: 10px;
  font-weight: bold;
}


.bookshelf-item img   {
  height: 120px;
}

.bookshelf-item {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 10px;
  color: #333;
  position: relative;
}

.book-preview {
  margin: 10px;
  text-align: center;
}

.book-preview img {
  width: 100px;
}

.bookshelf-item h5 {
  font-size: 15px;
  text-overflow: ellipsis;
  padding: 10px;
  overflow: hidden;
  font-weight: bold;
}

.react_tinylink_card {
  display: none !important;
}

.delete-button {
  position: absolute;
  right: 0px;
  top: 0px;
  background: transparent;
  border: none;
}

.book-info {
  padding: 10px;
}

.manage-books-list {
  display: flex;
  flex-wrap: wrap;
}

h3 {
  text-align: left;
  border-bottom: 2px #666;
  padding-left: 15px;
}

.manage-books-footer {
  text-align: right;
}

button {
  background-color: #fff;
  color: #333;
  border: none;
  margin: 2px;
  box-shadow: none;
}

.delete-book {
  color: #fff;
  background-color: #ff2222;
}

button:hover {
  cursor: pointer;
}

.new-book-shelf {
  width: 80%; 
  height: 30px;
  font-family: "Catamaran", sans-serif;
  float: right;
  text-align: right;
}

.no-results {
  text-align: center;
  margin: auto;
  width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap');

h1 {
  padding: 50px;
  color: #ffffff;
  font-family: 'Bitter', serif;
}