body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.my-reads-header {
	height: 50px;
	background-color: #3232a2;
	margin: 0;
	padding-top: 50px;
	text-transform: uppercase;
	color: #ddd;
}

.books-search-header {
	box-shadow: 3px 0px 5px;
	display: flex;
	flex-wrap: wrap;
}

.books-search input {
	display: block;
	width: calc(100% - 65px);
	height: 60px;
	font-size: 20px;
	border: 0;
}

.my-reads-link {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
}

.books-search-link {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('./icons/search.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.add-book-link {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('./icons/add-book.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
  position: absolute;
  right: 0;
  top: 40px;
}